.inner-container {
    border: 0;
    border-radius: 20px;
    background: #dae8fc;
    box-shadow: inset 5px 5px 10px #b9c5d6,
        inset -5px -5px 10px #fbffff;
}


#location,
#temperature,
#description,
#image-container {
    border: 0;
    border-radius: 10px;
    /* background-color: #ffe6cc; */
    box-shadow: inset 5px 5px 10px #d9c4ad,
        inset -5px -5px 10px #ffffeb;
}